<div class="main" style="background: #fff;min-height: 100%;" ng-controller="zbglCtr">
    <div class="top">
        <div class="tabset">
            <!--<div class="add-btn orange fr" ng-click="refursh()">保存</div>-->
        </div>
        <div class="zbglTitle">
        	观测体系
        </div>
    </div>
    <div class="middle-contain" style="padding: 10px;position: relative;">
    	<div class="zbLeft" id="zbLeft" style="overflow-y: auto;">
    		<div class="zbLeftTitle" style="position: relative;">
    			
    			<span id="">
    				观测体系
    			</span>
    			<div class="addObserve" ng-click="addObserve()" style="position: absolute;top: 0;right:20%;color: #0D62CA;font-size: 26px;cursor: pointer;">
    				+
    			</div>
    			<div class="deleObserve" ng-click="deleObserve()" style="height:100%;width:30px;position: absolute;top: 0;right:0;color: #0D62CA;font-size: 26px;cursor: pointer;">
    				
    			</div>
    		</div>
    		<div class="tree" >
			
			    <ul id="rootUL">
			
			    </ul>
			</div>
    	</div>
<!--第一级-->
    	<div class="zbCenter" style="display: none;">
    		<div class="zbCenterTitle">观测指标</div>
    		<div class="" style="overflow: hidden;width: 100%;">
    			<div class="zbCenterLeft zbCenterLeft1" style="display: none;">
    				<form class="" action="" style="height: 800px;overflow: hidden;">
	    				<div class="zbCenterLeftTitle">
	    					一级指标
	    				</div>
	    				<div style="height: 60%;overflow: auto;">
		    				<img src="img/zbgl/dele.png" style="position: absolute;right:10px;top: 13px;cursor: pointer;" class="zhibiaoDele1" ng-click="zhibiaoDele1($event)"/>
		    				<div class="addOne" ng-click="addFuc2()" style="position: absolute;right:35px;top: 5px;cursor: pointer;">
		    					+
		    				</div>		    				
		    				<div class="gcCheck" ng-repeat="item in targetOne">
		    					<!--<input class="oneCheck" type="radio" name="oneCheck" id="oneCheck{{$index+1}}" value="{{$index+1}}"/>-->
		    					<!--<input class="oneCheck" type="checkbox" id="oneCheck{{$index+1}}" name="oneCheck" lay-skin="primary" value="{{$index+1}}"/>-->
		    					<input class="oneCheck" style="display: inline-block;" dataId="{{item.id}}" type="checkbox" id="oneCheck{{$index+1}}" name="oneCheck" value="{{$index+1}}"/>
		    					<label style="width: 80px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" class="oneCheckLabel" dataId="{{item.id}}" dataFatherId="{{item.fatherId}}">{{item.name}}</label>
		    					<img src="img/zbgl/detail.png" class="oneDetail" ng-click="detail2($event,item.name)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
		    				</div>
		    			</div>

	    			</form>
    			</div>
<!--第二级-->
    			<div class="zbCenterLeft zbCenterLeft2" style="display: none;">
    				<form class="" action="" style="height: 800px;overflow: hidden;">
	    				<div class="zbCenterLeftTitle">
	    					二级指标
	    				</div>
	    				<div style="height: 60%;overflow: auto;">
		    				<img src="img/zbgl/dele.png" style="position: absolute;right:10px;top: 13px;cursor: pointer;" ng-click="zhibiaoDele2($event)"/>
		    				<div class="addOne" ng-click="addFuc()" style="position: absolute;right:35px;top: 5px;cursor: pointer;">
		    					+
		    				</div>			    				
		    				<div class="gcCheck1" ng-repeat="item in lessonList1">
		    					<!--<input class="twoCheck" type="radio" name="twoCheck" id="twoCheck{{$index+1}}" value="{{$index+1}}"/>-->
		    					<!--<input class="twoCheck" type="checkbox" id="twoCheck{{$index+1}}" name="twoCheck" lay-skin="primary" value="{{$index+1}}"/>-->
		    					<input class="twoCheck" style="display: inline-block;" dataId="{{item.id}}" type="checkbox" id="twoCheck{{$index+1}}" name="twoCheck" value="{{$index+1}}"/>
		    					<label style="width: 80px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" class="twoCheckLabel" dataId="{{item.id}}">{{item.name}}</label>
		    					<img src="img/zbgl/detail.png" ng-click="detail($event,item.name,item.sh,item.wx)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
		    				</div>	    					
	    				</div>

	    				<!--<div class="addOne" ng-click="addFuc()">
	    					+
	    				</div>-->
	    			</form>
    			</div>
<!--第三级-->
    			<div class="zbCenterLeft zbCenterLeft3" style="display: none;">
    				<form class="" action="" style="height: 800px;overflow: hidden;">
	    				<div class="zbCenterLeftTitle">
	    					三级指标
	    				</div>
	    				<div style="height: 60%;overflow: auto;">
		    				<img src="img/zbgl/dele.png" style="position: absolute;right:10px;top: 13px;cursor: pointer;" ng-click="zhibiaoDele3($event)"/>
		    				<div class="addOne" ng-click="addFuc2()" style="position: absolute;right:35px;top: 5px;cursor: pointer;">
		    					+
		    				</div>		    				
		    				<div class="gcCheck2" ng-repeat="item in lessonList2">
		    					<!--<input class="threeCheck" type="radio" name="threeCheck" id="threeCheck{{$index+1}}" value="{{$index+1}}"/>-->
		    					<!--<input class="threeCheck" type="checkbox" id="threeCheck{{$index+1}}" name="threeCheck" lay-skin="primary" value="{{$index+1}}"/>-->
		    					<input class="threeCheck" style="display: inline-block;" dataId="{{item.id}}" type="checkbox" id="threeCheck{{$index+1}}" name="threeCheck" value="{{$index+1}}"/>
		    					<label style="width: 80px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" class="threeCheckLabel" dataId="{{item.id}}">{{item.name}}</label>
		    					<img src="img/zbgl/detail.png" ng-click="detail2($event,item.name,item.score,item.sh,item.wx)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
		    				</div>
		    			</div>
	    				<!--<div class="addOne" ng-click="addFuc2()">
	    					+
	    				</div>-->
	    			</form>
    			</div> 
<!--第四级-->
    			<div class="zbCenterLeft zbCenterLeft4" style="display: none;">
    				<form class="" action="" style="height: 800px;overflow: hidden;">
	    				<div class="zbCenterLeftTitle">
	    					四级指标
	    				</div>
	    				<img src="img/zbgl/dele.png" style="position: absolute;right:10px;top: 13px;cursor: pointer;" ng-click="zhibiaoDele4($event)"/>
		    				<div class="addOne" ng-click="addFuc2()" style="position: absolute;right:35px;top: 5px;cursor: pointer;">
		    					+
		    				</div>		    				
	    				<div class="gcCheck4" ng-repeat="item in lessonList4">
	    					<!--<input class="fouthCheck" type="radio" name="fouthCheck" id="fouthCheck{{$index+1}}" value="{{$index+1}}"/>-->
	    					<!--<input class="fouthCheck" type="checkbox" id="fouthCheck{{$index+1}}" name="fouthCheck" lay-skin="primary" value="{{$index+1}}"/>-->
	    					<input class="fouthCheck" style="display: inline-block;" dataId="{{item.id}}" type="checkbox" id="fouthCheck{{$index+1}}" name="fouthCheck" value="{{$index+1}}"/>
	    					<label style="width: 80px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" class="fouthCheckLabel" dataId="{{item.id}}">{{item.name}}</label>
	    					<img src="img/zbgl/detail.png" ng-click="detail2($event,item.name,item.score,item.sh,item.wx)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
	    				</div>
	    				<!--<div class="addOne" ng-click="addFuc2()">
	    					+
	    				</div>-->
	    			</form>
    			</div> 
    		</div>
    	</div>
    
    	<div class="zbRight" style="display: none;">
    			<div class="zbCenterLeft5">
    				<div class="zbCenterLeftTitle">
    					<span>观测选项</span>
    					<input type="radio" name="optionSele" id="optionSele1" value="1" checked="">
    					<label for="optionSele1" style="font-size:14px;">单选</label>
    					<input type="radio" name="optionSele" id="optionSele2" value="2"/>
    					<label for="optionSele2" style="font-size:14px;">多选</label>
    				</div>
    				<div class="zbRadio1" style="display: none;">
	    				<div class="gcCheck5" ng-repeat="item in lessonList3">
	    					<input class="fiveCheck" type="checkbox" name="fiveCheck" id="fiveCheck{{$index+1}}" value="{{$index+1}}" ng-change="showCheck($event,gcCheck)" ng-model="gcCheck"/>
	    					<label style="width: 60px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" for="fiveCheck{{$index+1}}">{{item.options}}</label>
	    					<span style="vertical-align: top;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.score}}分</span>
	    					<img src="img/zbgl/detail.png" ng-click="rightUpBtn(item.options,item.score)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
	    				</div>
	    				<div class="addOne" ng-click="addFuc1()">
	    					+
	    				</div>    					
    				</div>
    				<div class="zbRadio2" id="asop">
	    				<div class="gcCheck5 fiveCheckt" ng-repeat="item in lessonList3"  ng-class="{active:gcCheck1==true}"> 
	    					<input class="fiveCheck" type="radio" name="fiveCheck2" id="fiveCheckt{{$index+1}}" value="{{$index+1}}"/>
	    					<label style="vertical-align:middle;width: 60px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;" for="fiveCheckt{{$index+1}}">{{item.options}}</label>
	    					<span>&nbsp;&nbsp;&nbsp;&nbsp;{{item.score}}分</span>
	    					<img src="img/zbgl/detail.png" ng-click="rightUpBtn(item.options,item.score)" style="display:none;position: absolute;cursor: pointer;top:10px;right: 10px;"/>
	    				</div>
	    				<div style="width: 100%;" class="addOne" ng-click="addFuc1()">
	    					+
	    				</div>    					
    				</div>
    			</div>     		
    	</div>
    </div>
    <div ng-include="'html/blocks/footer.html'"></div>
    <div id="zbglDailog" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">修改指标</div>
	    	<p class="dalogLabel">指标名称</p>
	    	<input type="text" name="" id="" value="" class="dailogInp" ng-model="gfds"/>
	    	<!--<p class="dalogLabel">分值</p>
	    	<input type="text" name="" id="" value="{{value2}}" ng-model="twoName" class="dailogInp"/><span class="otherFont">&nbsp;分</span>-->
	    	<!--<p class="dalogLabel">统计评分权重</p>
	    	<input type="text" name="" id="" value="" class="dailogInp"/><span class="otherFont">&nbsp;%</span>   -->
    		<div class="layui-form-item" style="margin-top: 40px;margin-bottom: 50px;min-height: 40px;">
    		  	<div class="">
    		  		<input type="checkbox" name="detailCheck" title="四环指标" lay-skin="primary" checked disabled="disabled">
			    </div>
			    <div class="">
			      <input type="radio" name="sex" value="学" title="学" checked lay-filter="rew2">
			      <input type="radio" name="sex" value="思" title="思" lay-filter="rew2">
			      <input type="radio" name="sex" value="行" title="行" lay-filter="rew2">
			      <input type="radio" name="sex" value="省" title="省" lay-filter="rew2">
			    </div>
			</div>
    		<!--<div class="layui-form-item" style="margin-bottom: 20px;min-height: 40px;">
    		  	<div class="">
    		  		<input type="checkbox" name="detailCheck" title="五星指标" lay-skin="primary" checked>
			    </div>
			    <div class="">
			      <input type="radio" name="sex1" value="主题聚焦" title="主题聚焦" lay-filter="rew3">
			      <input type="radio" name="sex1" value="情境创设" title="情境创设" lay-filter="rew3">
			      <input type="radio" name="sex1" value="激励调控" title="激励调控" lay-filter="rew3">
			      <input type="radio" name="sex1" value="继承创新" title="继承创新" lay-filter="rew3">
			      <input type="radio" name="sex1" value="合作交流" title="合作交流" lay-filter="rew3">
			    </div>
			</div>-->
			<div class="detailBtn1" ng-click="rightDd()">
				保存
			</div>
			<div class="detailBtn2" ng-click="detailBtn2()">
				取消
			</div>			
    	</form>
    </div>
    <div id="zbglDailog1" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">新增指标</div>
	    	<p class="dalogLabel">指标名称</p>
	    	<input type="text" name="" id="" class="dailogInp" value="" ng-model="twoName"/>
    		<div class="layui-form-item" style="margin-bottom: 40px;margin-top: 30px;">
    		  	<div class="">
    		  		<input type="checkbox" name="detailCheck" title="四环指标" lay-skin="primary" checked disabled="disabled">
			    </div>
			    <div class="">
			      <input type="radio" name="sex" value="学" title="学" checked lay-filter="rew">
			      <input type="radio" name="sex" value="思" title="思"  lay-filter="rew">
			      <input type="radio" name="sex" value="行" title="行"  lay-filter="rew">
			      <input type="radio" name="sex" value="省" title="省"  lay-filter="rew">
			    </div>
			</div>
    		<!--<div class="layui-form-item" style="margin-bottom: 20px;">
    		  	<div class="">
    		  		<input type="checkbox" name="detailCheck" title="五星指标" lay-skin="primary" checked>
			    </div>
			    <div class="">
			      <input type="radio" name="sex1" value="主题聚焦" title="主题聚焦" lay-filter="rew1">
			      <input type="radio" name="sex1" value="情境创设" title="情境创设"  lay-filter="rew1">
			      <input type="radio" name="sex1" value="激励调控" title="激励调控"  lay-filter="rew1">
			      <input type="radio" name="sex1" value="继承创新" title="继承创新"  lay-filter="rew1">
			      <input type="radio" name="sex1" value="合作交流" title="合作交流"  lay-filter="rew1">
			    </div>
			</div>-->
			<div class="" style="margin-top: 30px;">
				<div class="detailBtn1a" ng-click="detailBtn1a()">
					保存
				</div>
				<div class="detailBtn2" ng-click="detailBtn22()">
					取消
				</div>					
			</div>
		
    	</form>
    </div>
    <div id="zbglDailog2" style="display: none;">
    	
	    	<div class="detailDaiTitle">新增体系</div>
	    	<p class="dalogLabel">学科</p>
	    	<!--<input type="text" name="" id="" value="" class="dailogInp" ng-model="objectName1"/>-->
            <select style="width: 260px;" name="" id="" placeholder="选择学科" class="dailogInp dailogInp1" ng-model="selectName1" ng-init="selectName1='选择学科'">
                <option value="选择学科">选择学科</option>
                <option value="1">语文</option>
                <option value="2">数学</option>
                <option value="3">英语</option>
                <option value="4">政治</option>
                <option value="5">历史</option>
                <option value="6">地理</option>
                <option value="7">物理</option>
                <option value="8">化学</option>
                <option value="9">生物</option>
            </select>	    	
	    	<p class="dalogLabel">学段</p>
	    	<!--<input type="text" name="" id="" value="" class="dailogInp" ng-model="objectName2"/>-->
            <select style="width: 260px;" name="" id="" placeholder="选择学段" class="dailogInp dailogInp2" ng-model="selectName2" ng-init="selectName2='选择学段'">
                <option value="选择学段">选择学段</option>
                <option value="1">高中段</option>
                <option value="2">初中段</option>
                <option value="3">小学高年级</option>
                <option value="4">小学中年级</option>
                <option value="5">小学低年级</option>
            </select>	    	
	    	<p class="dalogLabel">课型</p>
	    	<!--<input type="text" name="" id="" value="" class="dailogInp" ng-model="objectName3"/>-->   
            <select style="width: 260px;" name="" id="" placeholder="选择课型" class="dailogInp dailogInp3" ng-model="selectName3" ng-init="selectName3='选择课型'" ng-click="lessonType()">
                <option value="选择课型">选择课型</option>
                <option value="{{item.code}}" ng-repeat="item in lessonList">{{item.name}}</option>
            </select>	    	
	    	<p class="dalogLabel">总分</p>
	    	<input type="text" name="" id="" value="" class="dailogInp" ng-model="objectName4"/><span class="otherFont">&nbsp;分</span>   

			<div class="" style="margin-top: 30px;">
				<div class="detailBtn1" ng-click="observeBtn1()">
					保存
				</div>
				<div class="detailBtn2" ng-click="observeBtn2()">
					取消
				</div>					
			</div>    	
    </div>
    <div id="zbglDailog3" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">新增选项</div>
	    	<p class="dalogLabel">选项名称</p>
	    	<input type="text" name="" id="" class="dailogInp" value=""  ng-model="score"/>
	    	<p class="dalogLabel">分值</p>
	    	<input type="text" name="" id="" value="" ng-model="asgf" class="dailogInp"/><span class="otherFont">&nbsp;分</span>	
			<div class="" style="margin-top: 30px;">
				<div class="detailBtn1" ng-click="detailBtnClose()">
					保存
				</div>
				<div class="detailBtn2" ng-click="detailBtn22()">
					取消
				</div>					
			</div>
		
    	</form>
    </div>

    <div id="zbglDailog4" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">修改指标</div>
	    	<p class="dalogLabel">指标名称</p>
	    	<input type="text" name="" id="" value="" class="dailogInp" ng-model="tmg" style="margin-bottom: 140px;"/>

			<div class="detailBtn1" ng-click="dcheckBtn()">
				保存
			</div>
			<div class="detailBtn2" ng-click="detailBtn2()">
				取消
			</div>			
    	</form>
    </div>
    <div id="zbglDailog5" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">新增指标</div>
	    	<p class="dalogLabel">指标名称</p>
	    	<input type="text" name="" id="" value="{{value1}}" class="dailogInp" ng-model="oneName" style="margin-bottom: 140px;"/>

			<div class="detailBtn1" ng-click="detailBtn1()">
				保存
			</div>
			<div class="detailBtn2" ng-click="detailBtn2()">
				取消
			</div>			
    	</form>
    </div>
    <div id="zbglDailog6" style="display: none;">
    	<form class="layui-form" action="">
	    	<div class="detailDaiTitle">修改选项</div>
	    	<p class="dalogLabel">选项名称</p>
	    	<input type="text" name="" id="" class="dailogInp" value="" ng-model="loas"/>
	    	<p class="dalogLabel">分值</p>
	    	<input type="text" name="" id="" value="" ng-model="loasScore" class="dailogInp"/><span class="otherFont">&nbsp;分</span>	
			<div class="" style="margin-top: 30px;">
				<div class="detailBtn1" ng-click="detailBtnDeta()">
					保存
				</div>
				<div class="detailBtn2" ng-click="detailBtn22()">
					取消
				</div>					
			</div>
		
    	</form>
    </div>
</div>