html {
    font-size: 36px;
}
* {
    box-sizing: border-box;
}
/* 悬浮按钮 */
.drop {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    width: 3.8rem;
    height: 3.8rem;
    background: #FE506B;
    text-align: center;
    cursor: pointer;
    border-radius: 50%; 
    z-index: 20;
    background: url(image/icon1.png) center no-repeat;
    background-size: 100%; 
}
.head-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    background: #1B6DE5;
    z-index: 11;
    color: white;
}
.head-bar .back{
    position: absolute;
    width: 1rem;
    height: 4rem;
    left: 3%;
    background: url(image/back.png) left center no-repeat;
    background-size: 80%; 
}
.head-bar .edit{
    position: absolute;
    width: 2rem;
    height: 4rem;
    right: 3%;
    background: url(image/icon.png) left center no-repeat;
    background-size: 80%; 
}
.head-bar .left-icon{
    position: absolute;
    left: 3%;
    font-size: 1.2rem;
}
.head-bar .right-icon{
    position: absolute;
    right: 3%;
    font-size: 1.2rem;
}
.panel {
    padding-top: 4rem;
    background: white;
    height: 100%;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.left-box {
    position: relative;
    float: left;
    width: 28%;
    height: calc(100% - 8rem);
    margin-right: 2%;
    background: #F7F9FC;
}
.right-box {
    float: right;
    height: calc(100% - 8rem);
    width: 68%;
    margin-right: 2%;
    overflow: auto;
    padding-bottom: 2rem;
}

.l-button{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.l-button.green{
    color: white;
    background: #2CC17B;
}
.mid-button {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
    text-align: center;
}
.mid-button.green {
    top: 0;
    background: #2CC17B;
}
.mid-button.gray {
    bottom: 0;
    background: #ccc;
}
.menu-list{
    height: 100%;
    overflow: auto;
    color: #59666F;
        font-size: 1.2rem;
}
.menu-list li {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.menu-list li.active {
    color: #1B6DE5;
    font-weight: bold;
    background: white url(image/left-bar.png) left center no-repeat;
    background-size: auto 100%; 
}

.right-box .zhibiao-title{
    position: relative;
    font-size: 1.1rem;
    color: #3DC79B;
    margin-top: 2rem;
}
.right-box .zhibiao-title .circle{
    position: absolute;
    left: 0.3rem;
    top: 0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: #3DC79B;
    border-radius: 50%;
    box-shadow: 0 0 3px #3DC79B;
}
.right-box .zhibiao-title .name{
    margin-left: 2rem;
    font-weight: bold;
}

.right-box .zhibiao-content{
    color: #595959;
    font-size: 1.1rem;
}
.right-box .zhibiao-content ul li{
    margin-top: 1.2rem;
}
.right-box .zhibiao-content ul li .radio,
.right-box .zhibiao-content ul li .checkbox{
    position: relative;
    top: 0.3rem;
    left: 1.8rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(image/radio2.png) center no-repeat;
    background-size: 90%;
}
.right-box .zhibiao-content ul li.active .radio{
    background: url(image/radio3.png) center no-repeat;
    background-size: 90%;
}   
.right-box .zhibiao-content ul li .checkbox{
    background: url(image/check1.png) center no-repeat;
    background-size: 90%;
}
.right-box .zhibiao-content ul li.active .checkbox{
    background: url(image/check2.png) center no-repeat;
    background-size: 90%;
}  
.right-box .zhibiao-content ul li .zhibiao-name{
    margin-left: 2.5rem;
}
/*.right-box .zhibiao-content ul li.active{
    background: #F7F9FC;
}*/

.right-box .zhibiao-title .arrow-top{
    
}

.top-bar{
    position:relative;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    box-shadow: 0 2px 3px #DBDCDE;
    z-index: 10;
}
.top-bar>div{
    width: 88%;
    height: 4rem;
    overflow: auto;
}
.top-bar .quota-list{
    height: 4rem;
    white-space: nowrap;
}
.top-bar .quota-list li{
    display: inline-block;
    width: 6rem;
    text-align: center;
}
.top-bar .quota-list li.active{
    font-weight: bold;
    display: inline-block !important;
    color: #1B6DE5;
}
.top-bar .more-icon{
    position: absolute;
    right: 0;
    tOp: 0;
    width: 12%;
    background: url(image/more.png) center no-repeat;
    box-shadow: 0 0 2px gray;
}
.quota-poup{
    display: none;
    position: absolute;
    top: 8rem;
    height: calc(100% - 8rem);
    width: 100%;
    z-index: 10;
    color: #59666F;
    border-top: 2px solid #E6E8EA; 
    background: rgba(0,0,0,0.5);
}

.quota-poup ul{
    background: white;
    font-size: 1.1rem;
    padding: 5% 3% 2% 3%;
    padding-left: 0;
}
.quota-poup ul li{
    float: left;
    width: 22%;
    margin: 0 0 3% 3%;
    background: #F7F9FC;
    height: 2.6rem;
    line-height: 2.6rem;
    border: 2px solid #E6E8EA;
    border-radius: 0.3rem;
    text-align: center;
}
.quota-poup ul li.active{
    color: white;
    background: #1B6DE5;
}
.button-box{
    width: 100%; 
    height: 4rem;
}
.button-box>div{
    float: left;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
.cancel-button{
    background: #C8CFD9;
}
.submit-button{
    background: #1B6DE5;
}
.edit-container{
    background: white;
}
.edit-container .edit-title{
    position: relative;
    height: 4.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid #ECEEEF;
}
.edit-container .edit-title .left-line{
    position: absolute;
    left: 1.3rem;
    top: 1.4rem;
    width: 0.4rem;
    height: 1.7rem;
    background: #1B6DE5;
}
.edit-container .edit-title .left-name{
    margin-left: 2.6rem;
    line-height: 4.5rem;
}
.edit-container ul{
    padding: 0 1.2rem;
}
.edit-container ul li{
    height: 4.5rem;
    line-height: 2.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #59666F;
    border-bottom: 2px solid #ECEEEF;
}
.s-button{
    width: 4.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius:  2.5rem;
    text-align: center;
    font-size: 1rem;
}
.s-button.copy{
    float: right;
    color: white;
    background: #1B6DE5;
    margin-right: 0.5rem;
}
.s-button.delete{
    float: right;
    background: #F7F9FC;
    border: 2px solid #EAEAEA;
}
.s-button.add{
    float: right;
    color: white;
    background: #2CC17B;
}
.toast-container{
    display: none;
    position: absolute;
    top: 4rem;
    right: 3%;
}
.toast-container>div{
    position: relative;
    border-radius: 0.3rem;
    background: #3E3E3E;
    z-index: 90;
}
.toast-container>div span{
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    width: 0.8rem;
    height: 0.5rem;
    background: url(image/three.png) center no-repeat;
    background-size: 100%; 
}
.toast-container>div li{
    width: 10rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-bottom: 1px solid #4B4B4B;
}
.toast-container>div li:last-child{
    border: none;
}















